:root {
  --primary-color: #ffa62b;
  --secondary-color: #737373;
  --blue-color: #00a0c1;
  --black-color: #000000;
  --light-color: #ffffff;
  --text-color: #252b42;
  --dark-blue: #16697a;
}

.clients {
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
}

.clients-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  flex-wrap: wrap;
  gap: 60px;
}

.clients-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  height: auto;
  padding: 30px 42px;
  background-color: var(--dark-blue);
}

.clients-form-title {
  width: 100%;
  max-width: 278px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: var(--light-color);
}

.input-wrapper {
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
  max-width: 450px;
  border-radius: 5px;
}

.input-wrapper input {
  width: 70%;
  height: 58px;
  outline: none;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px;
}

.input-wrapper button {
  width: 30%;
  height: 58px;
  background-color: var(--primary-color);
  border-radius: 0px, 5px, 5px, 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: var(--light-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.input-wrapper input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--secondary-color);
}

/* Responsive */

@media screen and (max-width: 768px) {
  .clients-images {
    justify-content: center;
  }
  .clients-form {
    flex-direction: column;
    gap: 30px;
  }
  .clients-form-title {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .clients-images {
    flex-direction: column;
  }
  .input-wrapper input {
    width: 60%;
  }
  .input-wrapper button {
    width: 40%;
  }
}
